@page "/addSecurity"

<PageTitle>Add security</PageTitle>

@if (flag) 
{
    <MudText Typo="Typo.body2">You have to add first a portfolio</MudText>
}
else 
{
    @if (Security != null)
    {
        <AuthorizeView>
            <Authorized>
                <MudLayout>
                    <MudPaper Class="pa-4 ma-4" Style="width: 600px; height:auto;">
                        <MudForm Model="@Security">
                            <MudTextField T="string" Style="width: 200px;" Label="Security Name" Required="true" @bind-Value="@Security.SecurityName"></MudTextField>
                            <MudTextField Lines="5" Style="width: 200px;" T="string" Label="Description" Required="false" @bind-Value="@Security.Description"></MudTextField>
                            <MudNumericField Style="width: 200px;" Label="Security Price" Required="true" @bind-Value="@Security.Price"></MudNumericField>
                            <MudNumericField Style="width: 200px;" Label="Quantity Owned" Required="true" @bind-Value="@Security.StockesOwned"></MudNumericField>
                            <MudSelect @bind-Value="@Security.PortfolioId" Style="width: 200px;" T="int" Label="Portfolio" AnchorOrigin="Origin.BottomCenter" FullWidth="true" Required="true">
                                @foreach (var portfolio in Portfolios)
                                {
                                    <MudSelectItem Value="@(portfolio.Id)">@portfolio.NameOfPortfolio</MudSelectItem>
                                }
                            </MudSelect>
                            <MudButton Class="mt-5" OnClick="(() => HandleSubmit())" Style="text-transform:none" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Submit</MudButton>
                            <br />
                            <MudText Class="mt-5" Typo="Typo.caption">* The field is required.</MudText>
                        </MudForm>
                    </MudPaper>
                </MudLayout>
            </Authorized>
            <NotAuthorized>
                <MudText Class="pa-4 ma-4" Typo="Typo.h3">Please first <a href="login">login</a> to view this page</MudText>
            </NotAuthorized>
        </AuthorizeView>
    }
}


