@page "/profile"
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudPaper Class="pa-4 ma-4" Style="width: 600px;">
                <MudText Typo="Typo.body1">Hello. You are logged in. Thank you <i>@context.User.Identity.Name</i> for using our services.</MudText>
                <MudText Typo="Typo.body2">Change your password</MudText>
                <MudForm Model="request">
                    <MudTextField For="@(() => request.Password)" Style="width: 200px;" T="string" Label="Password" Required="true" @bind-Value="@request.Password" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"></MudTextField>
                    <MudTextField For="@(() => request.ConfirmPassword)" Style="width: 200px;" T="string" Label="Password" Required="true" @bind-Value="@request.ConfirmPassword" InputType="@PasswordInput"></MudTextField>
                    <MudButton ButtonType="ButtonType.Button" Class="mt-5" OnClick="ChangePassword" Style="text-transform:none" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Change Password</MudButton>
                    <br />
                    <MudText Class="text-danger" Color="messageColor">@message</MudText>
                    <br />
                    <MudText Class="mt-5" Typo="Typo.caption">* The field is required.</MudText>
                </MudForm>
            </MudPaper>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <MudText Class="pa-4 ma-4" Typo="Typo.h3">Please first <a href="login">login</a> to view this page</MudText>
    </NotAuthorized>
</AuthorizeView>