@page "/securitydetails/{id:int}"

@*<title>@security.SecurityName</title> Γιατί όταν το κάνω κομεντ λειτουργεί, αμα το σβήσω δεν λειτουργεί και εαν το αφήσω ανοιχτό παλι δεν λειτουργεί*@


@if (security != null)
{
    <div class="row w-100">
        <div class="col-6">
            SecurityName
        </div>
        <div class="col-6">
            <p>@security.SecurityName</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            Price
        </div>
        <div class="col-6">
            <p>@security.Price</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            StockesOwned
        </div>
        <div class="col-6">
            <p>@security.StockesOwned</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            Date-Time Obtained
        </div>
        <div class="col-6">
            <p>@security.DateTimeObtained</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            Description
        </div>
        <div class="col-6">
            <p>@security.Description</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12">
            <a href="/editsecurity/@security.Id" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger" @onclick="async () => OpenDeleteDialog(security)">Delete</button>
        </div>
    </div>
}
@if (DeleteDialogOpen) 
{
    <ModelDialog Title="Are you sure?" Text="Do you want to delete the security?" OnClose="@OnDeleteDialogClose" DialogType="ModelDialog.ModalDialogType.DeleteCancel"></ModelDialog>
}
