
@if (Portfolios == null || Portfolios.Count == 0)
{
    <AuthorizeView>
        <Authorized>
            <span>you have no Portfolios. Plase click <button class="btn btn-primary" @onclick="NavigationToPortfolio">Add Portfolio</button> to add a new portfolio</span>
        </Authorized>
        <NotAuthorized>
            <h3>Please first <a href="login">login</a> to see the portfolios</h3>
        </NotAuthorized>
    </AuthorizeView>

    //make it to wait for 3 seconds before it show the message above
}
else
{
    <AuthorizeView>
        <Authorized>
            <MudTable Items="Portfolios" FixedHeader="true" Hover="true" Bordered="true" >
                <HeaderContent>
                    <MudTh>Portfolio Name</MudTh>
                    <MudTh>Securities Owned</MudTh>
                    <MudTh>Date-Time Created</MudTh>
                    <MudTh>Description</MudTh>
                </HeaderContent>
                <RowTemplate Context="portfolio">
                    <MudTd DataLabel="Portfolio Name">@portfolio.NameOfPortfolio</MudTd>
                    <MudTd DataLabel="Securities Owned">@iterator</MudTd>
                    <MudTd DataLabel="Date-Time Created">@portfolio.DateTimeCreated</MudTd>
                    <MudTd DataLabel="Description">@portfolio.Description</MudTd>
                </RowTemplate>
                <FooterContent>
                    <MudTd>Sum</MudTd>
                    <MudTd></MudTd>
                    <MudTd>-</MudTd>
                    <MudTd>-</MudTd>
                </FooterContent>
            </MudTable>
            <MudButton ButtonType="ButtonType.Button" Class="mt-5" OnClick="NavigationToPortfolio" Style="text-transform:none" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Add Portfolio</MudButton>
        </Authorized>
        <NotAuthorized>
            <h3>Please first <a href="login">login</a> to see the portfolios</h3>
        </NotAuthorized>
    </AuthorizeView>
    
}





