@if (Securities ==null || Securities.Count == 0) 
{
    <span>Loading Securities....</span>
}
else {
    <table class="table">
        <caption>
            Security List
        </caption>
        <thead>
            <tr>
                <th scope="col">Security Name</th>
                <th scope="col">Price of the security</th>
                <th scope="col">Securities owned</th>
                <th scope="col">Value of stocks</th>
                <th scope="col">Date-time obtained</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var security in Securities)
            {
                <tr>
                    <th scope="row"><a href="">@security.SecurityName</a></th>
                    <th>@security.Price</th>
                    <th>@security.StockesOwned</th>
                    <th>$ @ValueOfEachStock(security)</th>
                    <th>@security.DateTimeObtained</th>
                    <th>@security.Description</th>
                    <th>
                        <a href="/editsecurity/@security.Id" class="btn btn-primary">Edit</a>
                        <a @onclick="async () => await Delete(security.Id)" class="btn btn-primary">Delete</a>
                        </th>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">Sum</th>
                <th scope="col">-</th>
                <th scope="col">@NumberOfStocks()</th>
                <th scope="col">$ @SumOfStocks()</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
            </tr>
        </tfoot>
    </table>

}




